@charset "UTF-8";
.corpo__codigo .preview, .corpo__projeto__select:hover, .corpo__projeto__descricao:hover, .corpo__projeto__nome:hover, .header__busca:hover, .corpo__projeto__select:focus, .corpo__projeto__descricao:focus, .corpo__projeto__nome:focus, .header__busca:focus {
  /* tira a borda branca padrão dos inpts */
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.body {
  background: #051d3b;
}

.corpo__menu__links__a__img {
  height: 16px;
  width: 20px;
  border-radius: 16px;
  padding: 16px 14px;
}

.corpo__projeto__titulo, .corpo__menu__titulo {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.corpo__projeto__select, .corpo__projeto__descricao, .corpo__projeto__nome, .header__busca {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  font-size: 20px;
  line-height: 24px;
  border-style: none;
  padding-left: 10px;
  color: #ffffff;
}
.corpo__projeto__select:hover, .corpo__projeto__descricao:hover, .corpo__projeto__nome:hover, .header__busca:hover, .corpo__projeto__select:focus, .corpo__projeto__descricao:focus, .corpo__projeto__nome:focus, .header__busca:focus {
  background: rgba(255, 255, 255, 0.24);
}

.corpo, .header {
  width: 95vw;
}

.corpo__projeto__btn, .corpo__projeto__cor, .corpo__codigo__btn {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 32px 40px;
  height: 56px;
}
.header__logo {
  width: 13%;
}
.header__busca {
  width: 52%;
  height: 50px;
  display: flex;
  flex-direction: column;
  border-style: none;
}
.header__campoUx {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 18%;
}
.header__campoUx__caixinha {
  /* crie para colocar um background só na foto e no nome */
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.header__campoUx__caixinha:hover {
  padding: 10px 10px;
  background-size: contain;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
.header__campoUx__fotoUx {
  width: 32px;
  height: 32px;
}
.header__campoUx__nomeUx {
  color: #ffffff;
  margin-left: 16px;
}

.corpo {
  display: flex;
  margin: 49.95px 32px;
  align-items: flex-start;
  justify-content: space-between;
}
.corpo__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13%;
}
.corpo__menu__links {
  margin-top: 16px;
}
.corpo__menu__links__a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.56;
  text-decoration: none;
}
.corpo__menu__links__a__img {
  background: rgba(80, 129, 251, 0.16);
  margin-right: 10px;
}
.corpo__menu__links:hover {
  /* pensar em um jeito pra colocar na BEM */
}
.corpo__menu__links:hover .corpo__menu__links__a__img {
  background: rgba(80, 129, 251, 0.64);
}
.corpo__menu__links:hover .corpo__menu__links__a {
  color: #FFFFFF;
  opacity: 0.72;
}
.corpo__codigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%;
}
.corpo__codigo__editor {
  border-radius: 8px;
  background-color: #6BD1FF;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
}
.corpo__codigo .preview {
  display: block;
  padding: 10px;
  border-radius: 7px;
  height: 100%;
  background: #141414;
  word-break: keep-all;
  overflow: auto;
  white-space: pre-wrap;
}
.corpo__codigo__btn {
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  background: rgba(80, 129, 251, 0.08);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-top: 32px;
  border-style: none;
}
.corpo__codigo__btn:hover {
  background: rgba(80, 129, 251, 0.16);
}
.corpo__codigo__btn:active {
  background: rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
  border-radius: 8px;
}
.corpo__projeto {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 18%;
}
.corpo__projeto__nome {
  height: 56px;
  margin-bottom: 16px;
}
.corpo__projeto__descricao {
  height: 80px;
  margin-bottom: 40px;
  resize: none;
  /* pra n deixar alterar o tamanho do ladinho */
  overflow: hidden;
  /* a barra de scroll */
}
.corpo__projeto__select {
  height: 56px;
  margin-bottom: 24px;
}
.corpo__projeto__select option {
  border-radius: 8px;
  background-color: #812828;
  color: #ffffff;
}
.corpo__projeto__select option:hover {
  background: rgba(255, 255, 255, 0.24);
}
.corpo__projeto__cor {
  background: rgba(196, 196, 196, 0.01);
  border: 1px solid #FFFFFF;
  height: 56px;
  border-radius: 8px;
  margin-bottom: 32px;
}
.corpo__projeto__btn {
  height: 50px;
  border-radius: 8px;
  color: #000000;
  background-color: #5081FB;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}
.corpo__projeto__btn:hover {
  background-color: #7BA4FC;
}
.corpo__projeto__btn:active {
  background-color: #7BA4FC;
  border: 4px solid rgba(80, 129, 251, 0.72);
}

/* página corrente com css GAMBIARRA*/
body#editor a#editor, body#comunidade a#comunidade {
  color: #ffffff;
  opacity: 1;
}
body#editor a#editor .corpo__menu__links__a__img, body#comunidade a#comunidade .corpo__menu__links__a__img {
  background: #5081FB;
}

.corpo__comunidade {
  display: flex;
  width: 79%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.corpo__comunidade__projeto {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: flex-start;
  text-decoration: none;
  box-sizing: border-box;
  word-break: keep-all;
  overflow: hidden;
  white-space: pre-wrap;
  margin-bottom: 24px;
}
.corpo__comunidade__projeto:nth-child(2n-1) {
  margin-right: 24px;
}
.corpo__comunidade__projeto__codigo {
  display: block;
  height: 288px;
  border: 24px solid;
  border-radius: 10px;
  margin-bottom: 24px;
}
.corpo__comunidade__projeto__nome {
  color: cyan;
  margin-bottom: 8px;
}
.corpo__comunidade__projeto__descricao {
  background: darkblue;
  margin-bottom: 35.25px;
}

/*# sourceMappingURL=style.css.map */
