.corpo__comunidade {
    display: flex;
    width: 79%;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    &__projeto {
        display: flex;
        flex-direction: column;
        width: 48%;
        justify-content: flex-start;
        text-decoration: none;
        box-sizing: border-box;
        word-break: keep-all;
        overflow: hidden;
        white-space: pre-wrap;
        margin-bottom: 24px;
        background: rgba(0, 0, 0, 0.16);

        &:hover {
            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 32px 32px 24px;

            }
        }
       
       
        &:nth-child(2n-1) {
            margin-right: 24px;
        }

        &__codigo{
            display: block;
            height: 288px;
            border: 24px solid;
            border-radius: 10px;
            margin-bottom: 24px;
           
        }
        &__nome {
            color: #ffffff;
            size: bold;
            margin-bottom: 8px;
            margin-left: 24px;
            
        }
        &__descricao {
            color: #ffffff80;
            
            margin-bottom:35.25px; 
            margin-left: 24px;
        }

        &__info {
            display: none;
            &__publico {
                display: flex;
                justify-content: space-between;
                &__btns {
                    display: flex;
                    background: transparent; 
                    border-style: none;

                }
            }
            }
    }
}

