
.corpo {
    display: flex;
    margin: 49.95px 32px;
    align-items: flex-start;
    justify-content: space-between;
    @extend %tamanho-pag;
    
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 13% ;

        &__titulo {
            
            @extend %estilo-titulos;

        }
        &__links {
            margin-top: 16px;
            
            &__a {
                display: flex;
                align-items: center;
                color: #FFFFFF;
                opacity: 0.56;
                text-decoration: none;

                &__img {
                    @extend %menu-fundo;
                    background: rgba(80, 129, 251, 0.16);
                    margin-right: 10px;
                     
                }
            }

            &:hover {  /* pensar em um jeito pra colocar na BEM */
                .corpo__menu__links__a__img {
                    background: rgba(80, 129, 251, 0.64);
                }
                .corpo__menu__links__a {
                color: #FFFFFF;
                opacity: 0.72;
                }
            }
                
        }
    }
    &__codigo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 52%;
        
        
        &__editor {
            border-radius: 8px;
            background-color: #6BD1FF;
            padding: 10px; 
            width: 100%; 
            box-sizing: border-box;
            margin-bottom: 32px;
            
        }
        .preview {
            
            display: block;
            padding: 10px;
            border-radius: 7px;
            height: 100%;
            background: #141414;
            word-break: keep-all;
            overflow: auto;
            white-space: pre-wrap;
            @extend %tira-borda;
           
        }
        &__btn {
            @extend %todo-width;
            height: 50px;
            border-radius: 8px;
            color: #ffffff;
            background:rgba(80, 129, 251, 0.08);
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            margin-top: 32px;
            border-style: none;

            &:hover{
                background: rgba(80, 129, 251, 0.16);
            }

            &:active {
                background: rgba(80, 129, 251, 0.16);
                border: 4px solid rgba(80, 129, 251, 0.24);
                border-radius: 8px;
            }
           
        }
    }

    &__projeto {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        width: 18% ;
        
        &__titulo {
            @extend %estilo-titulos;
        }
        &__nome {
            @extend %estilo-inputs;
            
            height:56px;
            margin-bottom: 16px;
        }
        &__descricao {
            @extend %estilo-inputs;
            height:80px;
            margin-bottom: 40px;
            resize: none; /* pra n deixar alterar o tamanho do ladinho */
            overflow: hidden; /* a barra de scroll */
            
        }
        &__select {
            @extend %estilo-inputs;
            height:56px;
            margin-bottom: 24px;

            option {
                border-radius: 8px;
                background-color: #812828;
                color: #ffffff;
                &:hover {
                    background: rgba(255, 255, 255, 0.24);
                }
            }
            
           
        }
        &__cor {
            background: rgba(196, 196, 196, 0.01);
            border: 1px solid #FFFFFF;
            @extend %todo-width;
            height: 56px;
            border-radius: 8px;
            margin-bottom: 32px;
        }
        
        &__btn {
            @extend %todo-width;
            height: 50px;
            border-radius: 8px;
            color: #000000;
            background-color: #5081FB;
            font-family: 'Inter', sans-serif;
            font-weight: bold ;
            font-size: 16px;
            text-decoration: none;
            outline: none;
            border:none;
           

            &:hover {
                background-color: #7BA4FC;
            }
           
            &:active {
                background-color: #7BA4FC;
                border: 4px solid rgba(80, 129, 251, 0.72);
               
            }
            
            
        }
    }
    }

    /* página corrente com css GAMBIARRA*/
    body#editor a#editor, body#comunidade a#comunidade {
        color: #ffffff;
        opacity: 1;    
       .corpo__menu__links__a__img {
            background: #5081FB;
       }
    }

    
    
 