.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 32px 40px;
    height: 56px;

    &__logo {
       margin-right: 70px;

    }
    &__busca {
        @extend %estilo-inputs;
        width: calculateRem(744px);
        height: 50px;
        display: flex;
        flex-direction: column;
        border-style: none;
        
       
        
    }
    &__campoUx {
        display: flex;
        width: calculateRem(272px);
        justify-content: flex-end ;
        align-items: center;
       

        &__caixinha { /* crie para colocar um background só na foto e no nome */
            display: flex;
            align-items: center;
            padding: 10px 10px;

            &:hover {
                padding: 10px 10px;
                background-size:contain;
                background: rgba(255, 255, 255, 0.08);
                border-radius: 8px;
        }
        }

    
       

        &__fotoUx {
            width: 32px;
            height: 32px; 
            
        }
        
        &__nomeUx {
            color: #ffffff;
            margin-left: 16px;
        }
    }
}

