@function calculateRem($size){
    @return $size / 16px * 1rem;

}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size) ;
    
}

%tira-borda {
    /* tira a borda branca padrão dos inpts */
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.body {
    background: rgba(5, 29, 59, 1);
}

%menu-fundo {
    height: 16px;
    width: 20px;
    border-radius: 16px;
    padding: 16px 14px ;
}

%estilo-titulos {
 
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    line-height: 18px;
    font-size: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

%estilo-inputs {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    font-size: 20px;
    line-height: 24px;
    border-style: none;
    padding-left: 10px;
    color: #ffffff;

    &:hover, &:focus {
        background: rgba(255, 255, 255, 0.24);
        @extend %tira-borda;
        
    }
    }

 %tamanho-pag {
     width: 95vw;
 }   
 
 %todo-width {
     width: 100%;
 }
@import 'header','editor','comunidade';



    
    
    

