@function calculateRem($size){
    @return $size / 16px * 1rem;

}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size) ;
    
}


* {
    background: rgba(5, 29, 59, 1);
}

%menu-fundo {
    height: 16px;
    width: 20px;
    border-radius: 16px;
    padding: 16px 14px ;
}

%estilo-titulos {
 
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    line-height: 18px;
    font-size: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

%estilo-inputs {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    font-size: 16px;
    line-height: 24px;
    border-style: none;
}

@import 'corpo';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 32px 40px;
    height: 56px;

    &__logo {
       margin-right: 70px;

    }
    &__busca {
        @extend %estilo-inputs;
        width: calculateRem(744px);
        height: 50px;
        display: flex;
        flex-direction: column;
        
       
        
    }
    &__campoUx {
        display: flex;
         width: calculateRem(272px);
        justify-content: flex-end ;
        align-items: center;
       

        &__fotoUx {
            width: 32px;
            height: 32px; 
        }
        
        &__nomeUx {
            color: #ffffff;
            margin-left: 16px;
        }
    }
}



    
    
    

